body {
  margin: 0;
  height: 100vh;
  font-family: Verdana, sans-serif;
  background: #ebebeb;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6b22f5;
  border-radius: 5px;
}

.livechat {
  background: white;
  position: absolute;
  right: 1em;
  bottom: 1em;
  width: 75%;
  max-width: 350px;
  border-radius: 1em;
  box-shadow: 14px 14px 38px rgba(0, 0, 0, 0.08);
  clip-path: circle(0% at 100% 100%);
}

.livechat .header {
  background-color: #6b22f5;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.livechat .header h4 {
  margin: 0;
}

.livechat .content {
  padding: 1em;
}

.livechat .chat {
  height: 300px;
  overflow-y: scroll;
}

.livechat .message {
  background-color: #cecece;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.livechat .message p.name {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.livechat .message p.msg {
  margin-bottom: 0;
  margin-top: 0.5em;
}

.livechat .message.operator .name {
  color: #6b22f5;
}

.livechat .message.user .name,
.livechat .message.user .msg,
.livechat .message.user .timestamp {
  text-align: right;
  margin-right: 1em;
}

.livechat .message.user {
  margin-left: 40px;
}

.livechat .message.operator {
  margin-right: 40px;
}

.livechat .message p.timestamp {
  color: #9b6af5;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.livechat .send-container {
  display: grid;
  grid-template-columns: 70% auto;
  margin: 1em 0 0.5em;
  border-radius: 0.7em;
  box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.12);
}

.livechat .send-container input[type='text'] {
  padding: 1em;
  border-top-left-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
  border: 1px solid gray;
}

.livechat .send-container input[type='submit'] {
  padding: 1em;
  background: #6b22f5;
  color: white;
  border: none;
  font-weight: bold;
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  cursor: pointer;
}

.bubble {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 40px;
  cursor: pointer;
  color: #6b22f5;
}

.exit {
  font-size: 20px;
  cursor: pointer;
}

.animate-chat {
  animation: grow-circle 0.3s forwards ease-out;
}

@keyframes grow-circle {
  from {
    clip-path: circle(0% at 100% 100%);
  }
  to {
    clip-path: circle(100% at 50% 50%);
  }
}

.remove-chat {
  animation: shrink-circle 0.3s forwards ease-out;
}

@keyframes shrink-circle {
  from {
    clip-path: circle(100% at 50% 50%);
  }
  to {
    clip-path: circle(0% at 100% 100%);
  }
}
